#branding-section{
    background-color:forestgreen;
    
    // display:flex;
    // justify-content: flex-end;
    // align-items:flex-start;

    >div{
    display: grid;
    grid-template-columns: 30px 50% 50% 30px;
    grid-template-areas: "h h . ."
    ". b i .";
        padding-bottom: 30px;
    
    header{
        padding: 50px;
        height: 0px;
        font-size: rem-calc(60);
        // justify-content: left;
        grid-area: h;
    }

    img{
        grid-area: i;
        height: 100%;
    }


    b{
        grid-area: b;
        font-size: rem-calc(20);
    }


    
       

    width:100vw;
    height:100vh;

    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". projects .";

    // @include xl{
    //     grid-template-columns: auto 1200px auto;
    // }
    // >div{
    //     grid-area: projects;


    //     #brandingHeader{
    //         padding-top: 24px;
    //         padding-left: 50px;
    //         @include md{
    //             padding-top: 36px;
    //         }


    //         h1{
    //             margin-bottom: 24px;
    //         }

    //     }

    //     #brandingGallery{
    //         ul{
    //             display: grid;
    //             grid-template-rows: repeat(5, 1fr);
    //             gap: 16px;
    //             height: 80vh;

    //             @include md{
    //                 height: 50vh;
    //                 grid-template-columns: repeat(3, 1fr);
    //                 grid-template-rows: repeat(2, 1fr);
    //             }

    //             @include xl{
    //                 height: 70vh;
    //                 grid-template-columns: repeat(2, 1fr);
    //                 grid-template-rows: repeat(5, 1fr);
    //                 gap: 8px;
    //                 grid-template-areas: 
    //                 "p1 p2"
    //                 "p3 p4";
                    
    //             }

    //             li{
                    
    //                 background-size: cover;
    //                 background-position: center;
    //                 // border: 1px solid red;
                    
    //                 &:nth-child(1){
    //                     @include xl{
    //                         grid-area: p1;
                            
    //                     }
    //                 }

    //                 &:nth-child(2){
    //                     @include xl{
    //                         grid-area: p2;
    //                         border: 1px solid red;
    //                     }
    //                 }
    //                 &:nth-child(3){
    //                     @include xl{
    //                         grid-area: p3;
    //                         border: 1px solid red;
    //                     }
    //                 }

    //                 &:nth-child(4){
    //                     @include xl{
    //                         grid-area: p4;
    //                         border: 1px solid red;
    //                     }
    //                 }
                    

    //                 a:link, a:visited{
    //                     height: 100%;
    //                     width: 100%;
    //                     // border: 1px solid red;
    //                     display: inline-block;
    //                 }
    //             }
    //         }
    //     }
    // }


    }
    };
