#dalsegno_section{
    height: 100vh;
    background-color: beige;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 30px 40% 40% 30px;
    grid-template-areas: ". bod ris ris"
    ". bod ris ris";

    #segnolayout{
    
        grid-area: bod;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        padding-left: 50px;

        h1 {
            display: flex;
            font-size: 7vw;
            line-height: 80%;
        }

        b {
            margin-top: 30px;
        }

        
    }

    #dalsegno-images{
        
        grid-area: ris;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        @include md{
            transform:scale(2);
        }
        #trumpet{
            height:70%;
            // rotate: 20px;
            transform: rotate(60deg);
            @include md{
                left:100px
            }
            left: 300px;
            margin-top: -40px;
            position: absolute;
            z-index: 1000;
            
        }
        #redflower{
            height: 50%;
            // top: 20px;
            transform: rotate(20deg);
            left: 250px;
            @include md{
                left: 200px;
            }
            @include lg{
                left: 200px;
            }
            position: absolute;
        }
        #pinkflower{
            height: 45%;
            margin-right: -300px;
            margin-bottom: -100px;
            @include md{
                margin-right: -50px;
                margin-bottom: -300px;
            }
        }
    }

    // .riseSVG{
    //         // display: none;
    //         grid-area: ris;
    //         padding-top: 100px;
            
    //         margin-left: -70px;
    //         height: 70%;
    //         z-index: 1;
    //         // display: flex;
    //         // background-color: white;
    //         // justify-content: center;
    //         // align-items: center;
    //     }

    // img{
    //     // display: none;
    // }
}