#moreImg{
    height: 50vh;
    width: 100%;
}

#detail{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". detail .";
    padding-top: 50px;
    position: relative;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: detail;
        display: grid;
        grid-template-columns: 50% auto;

        button{
            position: absolute;
            top: 16px;
            left: 16px;
            background-color: transparent;
            color: coral;
            font-weight: 600;
            cursor: pointer;
        }

        section{
            h1{

            }

            p{

            }
        }
        #detail-hero{
            background-size: cover;
            background-position: center;
            height: 50vh;
        }
    }
}