#projects{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: white;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". projects .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    >div{
        grid-area: projects;


        header{
            padding-top: 24px;
            @include md{
                padding-top: 36px;
            }


            h1{
                margin-bottom: 24px;
                
            }

        }

        #gallery{
            ul{
                display: grid;
                
                grid-template-rows: repeat(5, 1fr);
                gap: 16px;
                height: 80vh;

                


                h1{

                    display: none;
                    // background-color: aqua;
                    font-size: rem-calc(30);
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    height: 100%;
                    width: 100%;
                    // background-image:
                    // text-decoration: none;
                    color: white;

                    
                }

                #rises{
                    font-size: rem-calc(30);
                }

                @include md{
                    height: 80vh;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }

                @include xl{
                    height: 80vh;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: 8px;
                    grid-template-areas: 
                    "p1 p2"
                    "p3 p4";
                    
                }

                li{
                    
                    
                    background-size: cover;
                    background-position: center;
                    // border: 1px solid red;
                    
                    &:nth-child(1){
                        @include xl{
                            grid-area: p1;
                            
                        }
                    }

                    &:nth-child(2){
                        @include xl{
                            grid-area: p2;
                            
                        }
                    }
                    &:nth-child(3){
                        @include xl{
                            grid-area: p3;
                            
                        }
                    }

                    &:nth-child(4){
                        @include xl{
                            grid-area: p4;
                            
                        }
                    }


                  

                    &:hover{
                        transform:scale(1.02);
                        box-shadow: 0px 0px 20px -9px #000000;
                        transition: 0.25s;
                        
                        // filter:grayscale(100%);
                        // filter:saturate(30000%);
                        

                        // background-color: #FFFFFF;
                        // opacity: 20%;
                        h1{
                            display: flex;
                            background-color: magenta;
                            color: white;
                            transition: .5;
                            // box-shadow: 0px 0px 20px -9px #000000;
                        }
                        
                        
                    }

                    a:link, a:visited{
                        height: 100%;
                        width: 100%;
                        // border: 1px solid red;
                        display: inline-block;
                    }
                }
            }
        }
    }
}