#type-pub-section{
    background-color: greenyellow;
    
    
    display: grid;
    height: 100vh;
    width: 100vw;
    
    grid-template-columns: 16px auto 16px;
    grid-template-areas: "h h ."
    ". re .";


        h1{
            grid-area: h;
            padding-top: 24px;
            padding: 30px;
            @include md{
                padding-top: 36px;
            }

            font-size: rem-calc(60);
        }

        img{
            grid-area: re;
            align-self: center;
            justify-self: center;
            
        }
    };