/* =============
    Header
============= */
#header {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    #button-container {
        display: flex;
        align-self: center;
        justify-content: center;
        
        button{
            
        }
        // background-color: aqua;
        z-index: 1000;
        margin-bottom:-40vh;
        margin-left: 7vw;
        margin-top: 2vh;

        @include md{
            margin-left: 4vw;
            margin-top: 2vh;
        }
        @include lg{
            margin-left: 2vw;
            margin-top: 2vh;
        }
    }



#section-images{
    // visibility: hidden;
}

//     #section-images {
//         // visibility: hidden;
//         pointer-events: none;
//         display: flex;
//         width: 100%;
//         height: 100%;

//         #image-flex {
//             pointer-events: none;
//             position: fixed;
//             z-index: 1000;
//             display: flex;
//             justify-content: flex-start;
//             flex-shrink: 3;
//             // width: 20vw;
//             // flex-wrap: wrap;
//             flex-direction: column;

//             >li {
//                 >img {
//                     width: 20vw;
//                     pointer-events: none;
//                 }
//             }
//         }        
//         ul {

//             padding: 50px;
//             display: flex;
//             // flex-flow: row wrap;
//             pointer-events: none;


//             // gap: 20px;
//             li {
//                 padding: 10px;


//             }
//         }
//     }



    svg {
        position: absolute;
        transform: scale(2);
        height: 25%;
        // width: 200px;
        //height move to 40% when menu
    }

    .linedown {
        transform: scale(3);
    }

}