/* =============
    Navigation
============= */
#nav-container{
    
    ul {
        
        @include md {
			
		}
        li {
            

            >button{
                text-decoration: none;
                background-color: transparent;
                &:hover{
                    // background-color:d;
                    width: 100vw;
                    @include md{
                        width: 32.5vw;
                    }
                    @include lg{
                        width: 23.27vw;
                    }
                }

            }
            
        }
    }
}


// #nav-container{
//     ul {
//         height: 100%;
        
//         li {
//             a:link,
//             a:visited {
//                 color: $white;
//                 padding: 0px 0px;
//                 text-decoration: none;
//                 transition: 0.25s;

//                 @include lg {
//                     color: $white;
//                 }

//                 &:hover,
//                 &:active {
//                     color: $italy-red;
//                 }
//             }
//         }
//     }
// }

/* =============
    Navigation
============= */
// #nav-container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     ul {
       

//         @include lg {
//             height: 100%;
//             display: flex;
//             justify-content: flex-end;
//         }

//         li {
//             margin-bottom: 20px;
//             text-align: right;

//             @include lg {
//                 align-items: center;
//                 border-right: 2px solid $white;
//                 display: flex;
//                 margin-bottom: 0px;
//             }

//             button {
//                 background-color: transparent;
//                  color: $white;
//                  font-family: 'Comfortaa', cursive;
//                  font-size: rem-calc(30);
//                  text-decoration: none;
//                  transition: 0.25s;
//                  cursor: pointer;
//                  color: $white;
//                  border: none;
 
//                  @include lg {
//                      color: $black;
//                      font-size: rem-calc(20);
//                  }
 
//                  &:hover{
//                      color: $italy-red;
//                  }
//              }

//             // a:link,
//             // a:visited {
//             //     color: $white;
//             //     font-family: 'Comfortaa', cursive;
//             //     padding: 0 20px;
//             //     text-decoration: none;
//             //     transition: 0.25s;
//             //     @include lg {
//             //         color: $black;
//             //     }

//             //     &:hover,
//             //     &:active {
//             //         color: $yellow;
//             //     }
//             // }
//         }

//         li:last-child {
//             border: none;
//         }
//     }
// }